#tabelaProduto{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .linhaProduto{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 3%;
  }
  
  .itemTabela{
    width: 16%;
    border: 2px solid black;
  }
  
  
#botaoAdicionar{
  height: 50px;
  width: 300px;
  margin-left: 400px;

}


#botaAdicionar:hover{
  background-color: #cf5eff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

#alterar{
  width: 10%
}

#excluir{
  width: 10%;
}