.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;

}


.clear {
  clear: clear-both;
}

.header {
  background-color: #9400d3;
  height: 180px;
}


body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

.py-5 {
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  width: 1100px;

}

.px-lg-5 {
  padding-left: 1.5rem !important;

}

 .carousel-inner {
 margin-top: 30px;
  height: 500px;
  width: 1000px !important;
  margin: 30px 50px 0px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #9400d3;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  
}

  
.info {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  display: none;
}

.CartBtn {
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: #9400d3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
  margin: 0%;
  padding: 0%;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: .5s;
  font-size: 1.04em;
  font-weight: 600;  
  margin-top: 15px;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}

.CartBtn:hover .text {
  transform: translate(10px,0px);
  transition-duration: .5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}


button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #9400d3;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: #cf5eff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

button:active {
  background-color: #9400d3;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

#botaoAdicionar {
  margin: 50px 461.86px;



}



.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}


input:hover {
  outline: none;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}


.search {
  margin: 60px;
  display: inline-block;
  position: relative;
}

.search input[type="text"] {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 20px black;
}

.search button[type="submit"] {
  background-color: #9400d3;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
 
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: #cf5eff
}

.btn {
 border: none;
}

.departamento{
  width: 347.6px;
  margin-left: 10px;
}

header {
  background-color: #9400d3;
  color: #fff;
  
}
header a {
  color: #fff;
  text-decoration: none;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}
header .nav-links {
  display: flex;
}

.logo-img {
  width: 180px;
  height: 180px;

} 
.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
}
.search-bar input[type="text"] {
  border: none;
  outline: none;
  background: none;
  padding: 5px;
  width: 200px;
}


.px-lg-5 {
  padding-left: 50px!important;
}

.linkHeader{
margin-left: 30px;
}

.linha{
  height: 200px;
  width: 1000px;
  margin: 50px;
  display: flex;
  flex-direction: row;
 
}

.departamento{
width: 300px;
height: 140px;
margin: 33px;
}

#lupa{
  height: 20px;
}


#barra{
width: 460px;  
margin-right: 0px;
}

.imgsHeader{
  height: 30px;
  transition: .1s ease;
  
}


.icon {
  border-radius: 1px;
}

.CartBtn{
margin: auto;

}

.imgDepartamento{
  width: 150px;
  height: 130px;
margin: 0px 0px 0px 58.6px;
}

.imgsHeader:hover{
background-color: #cf5eff;
height: 40px;
border-radius: 5px;
padding: 5px;
}